.account {

	&__nav {
		margin-bottom: 3rem;

		ul {
			padding: 0;
			margin: 0 -1.5rem;
			list-style: none;
			font-size: 1.4rem;
			line-height: 2rem;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				padding: 0 1.5rem;
				margin-bottom: 1rem;

				a {
					color: #000;
					font-weight: 600;
					position: relative;
					display: inline-block;
					text-decoration: none;
					padding-bottom: 0.2rem;
					text-transform: uppercase;
					border-bottom: 2px solid transparent;
					@include transition(.3s);

					&:hover {
						opacity: 0.6;
						@include transition(.3s);
					}
				}

				&.active {

					a {
						border-bottom-color: #000;
					}
				}
			}
		}
	}

	&__content {

	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__nav {
			width: 200px;
			min-width: 200px;
			margin-bottom: 0;

			ul {
				@include flex-direction(column);

				li {
					margin-bottom: 2.5rem;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						border-bottom: none;
						padding: 0 0 0 1.5rem;
					}

					&.active {

						a {

							&:before {
								left: 0;
								top: 50%;
								width: 3px;
								content: '';
								height: 10px;
								margin-top: -5px;
								position: absolute;
								background: #0b0b0b;
								display: inline-block;
							}
						}
					}
				}
			}
		}

		&__content {
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			width: 300px;
			min-width: 300px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.account_submit {
	margin-top: 5rem;
	padding-top: 3rem;
	text-align: right;
	border-top: 3px solid #000;

	@media (min-width: $screen-md-min) {
		margin-top: 8rem;
	}
}

.account_name {
	color: #000;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.6rem;
}

.account_settings {
	width: 385px;
}

.profile {

	&__row {
		margin-bottom: 3rem;
	}

	&__photo {
		width: 185px;
		min-width: 185px;
		margin-bottom: 2rem;

		.profile_image {
			width: 185px;
			height: 255px;
			display: block;
			cursor: pointer;
			overflow: hidden;
			position: relative;

			input[type='file'] {
				display: none;
			}

			span {
				top: 9px;
				right: 9px;
				z-index: 10;
				width: 30px;
				height: 30px;
				color: #929ca6;
				padding: 0.6rem 0;
				font-size: 1.8rem;
				line-height: 1.8rem;
				text-align: center;
				position: absolute;
				background: #dfe3e7;
				display: inline-block;
				@include border-radius(50%);

				i {
					top: 50%;
					left: 50%;
					width: 12px;
					height: 16px;
					margin: -8px 0 0 -6px;
					position: absolute;
					display: inline-block;
					background: url("../img/icon__edit.svg") 50% 50% no-repeat;
					opacity: 0.6;
					@include transition(0.3s);
				}

			}

			&:hover {

				span {

					i {
						opacity: 1;
						@include transition(0.3s);
					}
				}
			}
		}
	}

	&__info {

	}

	.profile_heading {
		color: #000;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 2.4rem;
		padding-bottom: 0.4rem;
		border-bottom: 2px solid #000;
		@include flexbox();
		@include justify-content(space-between);

		span,
		strong {
			display: inline-block;
		}

		.profile_change {
			color: #929ca6;
			padding: 0 0.5rem;
			font-size: 0;
			line-height: 0;
			width: 22px;
			height: 18px;
			text-decoration: none;
			display: inline-block;
			position: relative;

			i {
				top: 1px;
				left: 50%;
				width: 12px;
				height: 16px;
				margin-left: -6px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon__edit.svg") 50% 50% no-repeat;
				opacity: 0.6;
				@include transition(0.3s);
			}

			&:hover {

				i {
					opacity: 1;
					@include transition(0.3s);
				}
			}
		}
	}

	.profile_group {
		margin-bottom: 3rem;
	}

	.profile_data {

		.profile_data_text {
			margin: 0;
			padding: 0;
			color: #000;
			width: 100%;
			height: 7rem;
			border: none;
			outline: none;
			display: block;
			overflow: hidden;
			font-size: 1.6rem;
			line-height: 2.3rem;
			background: transparent;
		}

		&.open {

			.profile_data_text {
				height: auto;
			}

			.profile_data_toggle {

				.toggle_hide {
					display: none;
				}

				.toggle_show {
					display: inline;
				}

				i {
					@include rotate(180deg);
				}
			}
		}
	}

	.profile_data_toggle {
		color: #82878c;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		margin-top: 1rem;

		.toggle_hide {
			display: inline;
		}

		.toggle_show {
			display: none;
		}

		i {
			margin-left: 5px;
		}

		&:hover {
			color: #000;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			margin-bottom: 5rem;
		}

		&__row {
			@include flexbox();
		}

		&__photo {
			margin-bottom: 0;
		}

		&__info {
			padding-left: 40px;
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-lg-min) {

		&__info {
			padding-left: 55px;;
		}

		&__row {
			margin-bottom: 6.5rem;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.password_change {
	color: #82878c;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2rem;
}

.cart {

	.cart_elem {
		margin-bottom: 4rem;
		position: relative;
	}

	.cart_image {
		font-size: 0;
		line-height: 0;
		max-width: 160px;
		margin-bottom: 2rem;
		@include transition(0.3s);

		&:hover {

		}

		a {

		}

		img {
			height: auto;
			max-width: 100%;
			display: inline-block;
		}
	}

	.cart_info {

		.cart_info_author {
			color: #000;
			font-size: 2rem;
			font-weight: 700;
			line-height: 2.4rem;
			margin-bottom: 0.5rem;

			a {
				color: #000;
				text-after-overflow: 0;

				&:hover {
					opacity: 0.7;
				}
			}
		}

		.cart_info_name {
			color: #616161;
			font-weight: 300;
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin-bottom: 1rem;

			a {
				color: #000;
				text-after-overflow: 0;
			}
		}

		.cart_info_size {
			color: #232323;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}

		.cart_info_type {
			color: #232323;
			font-weight: 300;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 2rem;
		}

		.cart_info_price {
			color: #435260;
			font-style: italic;
			text-align: right;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	.cart_remove {
		top: 0;
		right: 0;
		width: 3.8rem;
		height: 3.8rem;
		color: #030303;
		padding: 1.2rem 0;
		font-size: 1.4rem;
		text-align: center;
		position: absolute;
		line-height: 1.4rem;
		display: inline-block;
		background: transparent;
		@include border-radius(50%);

		&:hover {
			color: #fff;
			background: #030303;
		}
	}

	@media (min-width: $screen-sm-min) {

		.cart_elem {
			margin-bottom: 8rem;
			@include flexbox();
		}

		.cart_image {
			width: 184px;
			max-width: 184px;
			margin-bottom: 0;
		}

		.cart_info {
			position: relative;
			padding-left: 3.4rem;
			@include flex-grow(1);
			padding-right: 4rem;

			.cart_info_price {
				margin-right: -4rem;
			}
		}
	}
}

.cart_submit {
	margin-top: 5rem;
	padding-top: 2.5rem;
	border-top: 3px solid #000;

	.cart_submit_title {
		color: #131314;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
	}

	.cart_submit_text {

		p {
			color: #82878c;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 3rem;
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		.cart_submit_title {
			width: 250px;
			min-width: 250px;
			white-space: nowrap;
		}

		.cart_submit_text {
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-left: 100px;

		.cart_submit_title {
			width: 400px;
			min-width: 400px;
			white-space: nowrap;
		}

		.cart_submit_text {
		}
	}
}