.page {
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	@include flexbox();
	@include flex-direction(column);

	.header__content {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}

	&.nav_open {
		height: 100vh;
		overflow: hidden;

		.header__content {
			display: block;
			-webkit-transform: translateX(0);
			transform: translateX(0);
			@include transition(.3s);
		}

		.header__layout {
			opacity: 0.7;
			visibility: visible;
			@include transition(0.3s);
		}
	}

	@media (min-width: $screen-lg-min) {


		.header__content {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}

		&.nav_open {

			.header__layout {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.main {
	padding-top: 3rem;
	padding-bottom: 6rem;
	@include flex-grow(1);

	@media (min-width: $screen-lg-min) {
		padding-top: 6rem;
		padding-bottom: 10rem;
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 7rem;
		padding-bottom: 12rem;
	}
}

.jumbotron {
	position: relative;

	.jumbotron__bg {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: block;
		position: absolute;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		&_elem {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			position: absolute;

			opacity: 0;
			visibility: hidden;
			@include transition(0.5s);

			&.active {
				opacity: 1;
				visibility: visible;
				@include transition(0.5s);
			}
		}
	}

	.container {
		z-index: 50;
		padding-top: 4rem;
		padding-bottom: 4rem;
		position: relative;
	}

	&__content {
		max-width: 440px;
		background: #fff;
	}

	&__slide {
		color: #000;
		padding: 2.5rem 4rem;

		&_tag {
			color: #435260;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}

		&_author {
			font-weight: 700;
			font-size: 3.2rem;
			line-height: 3.4rem;
			margin-bottom: 1.4rem;
		}

		&_name {
			color: #435260;
			font-weight: 300;
			font-size: 2.4rem;
			line-height: 2.8rem;
			margin-bottom: 1rem;
		}

		&_year {
			color: #929ca6;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 4rem;
		}

		&_price {
			color: #435260;
			font-size: 1.8rem;
			line-height: 2rem;
			font-style: italic;
			padding-top: 0.9rem;
			margin-bottom: 2rem;
			border-top: 3px solid #202222;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 25px;
		height: 21px;
		outline: none;
		margin-top: -10px;
		background: transparent;

		&:before {
			left: 0;
			top: 10px;
			width: 100%;
			height: 1px;
			content: '';
			position: absolute;
			background: #929ca6;
			display: inline-block;
		}

		span {
			top: 4px;
			width: 13px;
			height: 13px;
			position: absolute;
			display: inline-block;
			border-top: 1px solid #929ca6;
			border-left: 1px solid #929ca6;

		}
	}

	.swiper-button-prev {

		span {
			left: 0;
			@include rotate(-45deg);
		}
	}

	.swiper-button-next {

		span {
			right: 0;
			@include rotate(135deg);
		}
	}

	@media (min-width: $screen-sm-min) {

		&__content {
			width: 440px;
		}

		&__slide {
			padding: 2.5rem 6rem 2.5rem 8.3rem;

			&_author {
				font-size: 4.2rem;
				line-height: 4.4rem;
			}

			&_name {
				font-size: 3rem;
				line-height: 3.6rem;
			}
		}

		.swiper-button-next {
			right: 19px;
		}

		.swiper-button-prev {
			left: 19px;
		}
	}

	@media (min-width: $screen-md-min) {

		.container {
			min-height: 524px;
			padding-top: 7rem;
			padding-bottom: 8rem;
		}
	}


	@media (min-width: $screen-xl-min) {

		&__content {
			margin-left: 3rem;
		}
	}
}

.section {
	background: #fff;

	&__wrap {
		margin: 0 auto;
		max-width: 985px;
	}

	&__heading {
		margin-bottom: 1rem;

		&_title {
			color: #000;
			font-weight: 700;
			font-size: 2.8rem;
			line-height: 3.6rem;
			text-transform: uppercase;
		}

		&_link {
			color: #929ca6;
			font-size: 1.6rem;
			line-height: 2rem;
			text-decoration: none;
			display: inline-block;
			@include transition(.3s);

			&:hover {
				color: #000;
				@include transition(.3s);
			}
		}

		&_text {
			color: #929ca6;
			font-size: 1.6rem;
			line-height: 2rem;
			text-decoration: none;
			display: inline-block;
			@include transition(.3s);
		}
	}

	&__subtitle {
		color: #000;
		max-width: 320px;
		font-size: 1.6rem;
		line-height: 1.44;
		margin-bottom: 3rem;
	}

	&.section_one {
		max-width: 100%;
		overflow: hidden;
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&.section_two {
		max-width: 100%;
		overflow: hidden;
		padding-top: 6rem;
		padding-bottom: 5rem;

		.section__heading {
			margin-bottom: 5rem;
		}

		.users {
			margin-bottom: 8rem;
		}
	}

	&.section_three {
		max-width: 100%;
		overflow: hidden;
		padding-top: 4rem;
		padding-bottom: 7rem;
		background: #fff url("../img/section_pattern.png");

		.section__heading {
			margin-bottom: 4rem;
		}
	}

	&.section_four {
		max-width: 100%;
		overflow: hidden;
		padding-top: 5rem;
		padding-bottom: 5rem;

		.section__heading {
			margin-bottom: 4rem;
		}
	}


	&.section_reg {
		color: #fff;
		padding-top: 4rem;
		padding-bottom: 4rem;
		background: url("../img/section_reg__bg.jpg") 50% 50% no-repeat;
		background-size: cover;

		.section__heading_title {
			color: #fff;

			&:after {
				display: none;
			}
		}

		.section__subtitle {
			color: #fff;
			max-width: 300px;
		}

		.form_radio {
			padding-bottom: 2.1rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			@include flexbox();

			&_title {

				&:after {
					content: '/';
					padding: 0 1.5rem;
				}
			}

			&_link {
				margin-top: 0.8rem;
			}

			&_text {
				margin-top: 0.8rem;
			}
		}

		.reg_row {
			@include flexbox();

			.reg_text {
				width: 50%;
			}

			.reg_form {
				width: 50%;
			}
		}

		&.section_two {

		}

		&.section_four {

			.section__heading_title {

				&:after {
					display: none;
				}
			}
		}

		&.section_reg {

			.section__heading_title {

				&:after {
					display: none;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		&.section_one {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}

		&.section_two {
			padding-top: 8rem;
			padding-bottom: 10rem;

			.section__heading {
				margin-bottom: 8.5rem;
			}

			.users {
				margin-bottom: 10rem;
			}
		}

		&.section_three {

			.section__heading {
				margin-bottom: 6rem;
			}
		}

		&.section_four {
			padding-top: 8rem;
			padding-bottom: 15rem;
		}

		.reg_row {

			.reg_text {
				width: 500px;
			}

			.reg_form {
				width: 385px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&.section_one {
			padding-top: 13rem;
			padding-bottom: 10.5rem;
		}

		&.section_two {
			padding-top: 13rem;
			padding-bottom: 14rem;

			.users {
				margin-bottom: 13.5rem;
			}
		}

		&.section_four {
			padding-top: 13rem;
			padding-bottom: 25.7rem;
		}
	}
}

.collection {
	margin: 0 auto;
	max-width: 320px;

	&__item {
		margin-bottom: 4.4rem;
		text-transform: uppercase;

		a {
			color: #202222;
			display: block;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			@include transition(0.3s);

			span {
				display: block;
				padding-top: 1rem;
			}

			&:hover {
				opacity: 0.7;
				@include transition(0.3s);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -1rem;
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);

		&__item {
			width: 50%;
			padding: 0 1rem;
		}
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -2rem;

		&__item {
			padding: 0 2rem;
		}
	}

}

.events {
	margin: 0 auto;
	max-width: 485px;

	&__item {
		margin-bottom: 4rem;

		a {
			color: #000;
			display: block;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			text-decoration: none;
			@include transition(.3s);

			span {
				display: block;
				padding-top: 2rem;
			}

			&:hover {
				opacity: 0.7;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -0.8rem;
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);

		&__item {
			width: 50%;
			padding: 0 0.8rem;
		}
	}
}

.articles {
	max-width: 386px;
	margin: 0 auto;

	&__primary {
		margin-bottom: 4rem;

		a {
			color: #000;
			display: block;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2.6rem;
			text-decoration: none;
			@include transition(.3s);

			span {
				display: block;
				margin-top: 1.5rem;
			}

			&:hover {
				opacity: 0.7;
				@include transition(.3s);
			}
		}
	}

	&__item {
		width: 100%;
		color: #000;
		display: table;
		margin-bottom: 2.5rem;
		text-decoration: none;
		@include transition(.3s);

		&:last-child {
			margin-bottom: 0;
		}

		&_image {
			width: 100px;
			display: table-cell;
			vertical-align: middle;
		}

		&_text {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			padding-left: 2rem;
			display: table-cell;
			vertical-align: middle;
		}

		&:hover {
			opacity: 0.7;
			@include transition(.3s);
		}
	}


	@media (min-width: $screen-md-min) {
		max-width: inherit;
		@include flexbox();
		@include justify-content(space-between);

		&__primary {
			width: 300px;
			margin-bottom: 0;
		}


		&__list {
			width: 370px;

		}

		&__item {

			&_image {
				width: 150px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__primary {
			width: 386px;

			a {
				font-size: 2.4rem;
				line-height: 3.2rem;
			}
		}

		&__list {
			width: 530px;

		}

		&__item {

			&_image {
				width: 185px;
			}

			&_text {
				font-size: 1.8rem;
				line-height: 2.4rem;
				padding-left: 3.5rem;
			}
		}
	}

}

.users {
	width: 285px;

	&__elem {
		margin-bottom: 5rem;
		@include flexbox();
		@include flex-direction(column);
	}

	&__name {
		color: #000;
		height: 60px;
		width: 100%;
		display: table;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		margin-bottom: 3.9rem;
		text-transform: uppercase;

		i {
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			overflow: hidden;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}

		a,
		span {
			color: #000;
			display: table-cell;
			padding-left: 7.2rem;
			vertical-align: middle;
			text-decoration: none;
		}
	}

	&__content {
		font-size: 0;
		line-height: 0;
		margin: 0 -0.9rem;
		padding-bottom: 1.7rem;
		@include flexbox();
		@include flex-wrap(wrap);
		@include flex-grow(1);
	}

	&__image {
		display: inline-block;
		margin: 0 0.9rem 1.8rem 0.9rem;
		@include transition(.3s);

		&.image_01 {
			margin-right: 5rem;
		}

		.img-fluid {
			display: inline-block;
		}


		&:hover {
			opacity: 0.6;
			@include transition(.3s);
		}
	}

	&__bottom {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 1.8rem;
		padding-top: 1.2rem;
		border-top: 3px solid #000;

		a {
			color: #000;
			text-decoration: none;
			@include transition(.3s);

			&:hover {
				opacity: 0.6;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: auto;
		margin: 0 -1rem;
		@include flexbox();

		&__elem {
			width: 33.33%;
			padding: 0 1rem;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -2.3rem;

		&__elem {
			padding: 0 2.3rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		margin: 0 -3.2rem;

		&__elem {
			padding: 0 3.2rem;
		}
	}
}

.services {
	margin: 0 auto;
	max-width: 485px;

	&__item {
		width: 100%;
		height: 220px;
		display: table;
		margin-bottom: 2rem;

		&.item_01 {
			background: url("../images/service_01.jpg") 50% 50% no-repeat;
			background-size: cover;

		}

		&.item_02 {
			background: url("../images/service_02.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		a {
			text-align: center;
			display: table-cell;
			vertical-align: middle;
		}

		h4 {
			color: #fff;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 1.5rem;
			text-transform: uppercase;
		}

		span {
			color: #fff;
			background: #000;
			font-size: 1.4rem;
			line-height: 2rem;
			display: inline-block;
			padding: 0.3rem 1.2rem;
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			margin-bottom: 0;
			width: calc(50% - 0.7rem);

		}
	}

}

.modal {
	color: #fff;
	max-width: 400px;
	background: #000;
	padding: 3rem 2.5rem 4rem 2.5rem;

	.modal_title {
		color: #fff;
		font-weight: 300;
		font-size: 3.6rem;
		line-height: 4rem;
		text-align: center;
		margin-bottom: 3rem;
	}

	.radio_group {
		padding-bottom: 1rem;

		.form_radio {
			width: 50%;

			span {
				width: 100%;
				padding: 1.2rem 3rem;
				border-color: #383d42;
			}

			input:checked + span {
				color: #fff;
				background: #383d42;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		width: 460px;
		padding: 3rem 4rem 4rem 4rem;
	}

	@media (min-width: $screen-md-min) {
		width: 600px;
		padding: 4rem 10.8rem 5rem 10.8rem;
	}

}

.tabs {

	.tabs_item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.mb_60 {
	margin-bottom: 6rem;
}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}


@media (min-width: $screen-xl-min) {

}