.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
	border-top: 3px solid #000;

	&__top {
		padding-bottom: 4rem;
	}

	&__primary {
		margin-bottom: 2rem;
		@include flexbox();

		> ul {
			width: 50%;
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 600;
			font-size: 1.3rem;
			line-height: 1.7rem;

			> li {
				margin-bottom: 2rem;

				> a {
					color: #000;
					white-space: nowrap;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}


	&__second {

		&_elem {
			margin-bottom: 2rem;
		}

		&_title {
			font-weight: 600;
			font-size: 1.3rem;
			line-height: 1.7rem;
			margin-bottom: 2rem;
			white-space: nowrap;
			text-transform: uppercase;

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			font-size: 1.4rem;
			line-height: 1.8rem;
			list-style: none;
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 50%;
				margin-bottom: 1rem;


				> a {
					color: #435260;
					white-space: nowrap;
					text-decoration: none;

					&:hover {
						color: #000;
					}
				}
			}
		}
	}

	&__social {
		padding: 0;
		list-style: none;
		margin: 0 -0.6rem;
		@include flexbox();

		> li {
			padding: 0 0.6rem;

			> a {
				color: #000;
				width: 3.8rem;
				height: 3.8rem;
				padding: 1.2rem 0;
				font-size: 1.4rem;
				text-align: center;
				line-height: 1.4rem;
				background: #dfe3e7;
				display: inline-block;
				text-decoration: none;
				@include border-radius(50%);
			}
		}
	}

	&__logo {
		display: none;
		width: 227px;
		min-width: 227px;
		margin-left: -5px;
	}

	&__subscribe {
		margin-bottom: 3rem;

		&_label {
			color: #000;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 1.44;
			margin-bottom: 0.5rem;
		}

		&_input {
			width: 273px;
		}

		&_form {
			width: 100%;
			position: relative;
			padding-right: 34px;

			input[type='text'] {
				margin: 0;
				width: 100%;
				border: none;
				outline: none;
				height: 3.4rem;
				color: #435260;
				font-weight: 400;
				overflow: hidden;
				text-align: left;
				font-size: 1.6rem;
				line-height: 2rem;
				position: relative;
				display: inline-block;
				text-decoration: none;
				background: transparent;
				border-bottom: 2px solid #000;
				padding: 0.6rem 0;
				@include placeholder(#435260);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}


			button {
				right: 0;
				bottom: 0;
				color: #fff;
				border: none;
				outline: none;
				width: 3.2rem;
				height: 3.2rem;
				padding: 0.6rem 0;
				background: #000;
				font-size: 2rem;
				text-align: center;
				position: absolute;
				line-height: 2rem;
				cursor: pointer;
				display: inline-block;

				&:hover {
					background: #292929;
				}

				&:active {
					color: #3e4c59;
					background: #000;
				}
			}
		}
	}

	&__privacy {
		color: #000;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.44;

		a {
			color: #000;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__second {
			margin: 0 -1rem;
			@include flexbox();

			&_elem {
				padding: 0 1rem;
			}

			ul {
				@include flex-direction(column);
				@include flex-wrap(nowrap);

				> li {
				}
			}
		}

		&__bottom {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__privacy {
			display: inline-block;
		}

		&__subscribe {
			width: 510px;
			min-width: 510px;
			margin: 0 auto 3rem auto;
			@include flexbox();

			&_label {
				width: 270px;
				min-width: 270px;
				margin-bottom: 0;
			}

			&_input {
				width: auto;
				padding: 0.5rem 0 0 2rem;
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__top {
			padding-bottom: 5rem;
			@include flexbox();
		}

		&__bottom {
			@include flex-wrap(nowrap);
		}

		&__primary {
			margin-right: 2rem;
			margin-bottom: 0;

			> ul {
				padding-right: 2rem;
			}
		}

		&__second {
			margin-bottom: 0;

			&_title {
				margin-bottom: 2.4rem;
			}
		}

		&__social {
			display: none;
		}

		&__subscribe {
			margin: 0;
			width: 500px;
			min-width: 500px;
		}

		&__privacy {
			margin: 0;
			width: 165px;
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 5rem;
		padding-bottom: 7rem;

		&__top {
			padding-bottom: 8rem;
			@include justify-content(space-between);
		}

		&__second {
			@include justify-content(flex-start);

			&_elem {
				padding: 0 1rem;
			}
		}

		&__logo {
			display: block;
			margin-top: -1rem;
		}

		&__social {
			min-width: 165px;
			@include flexbox();
		}
	}

	@media (min-width: $screen-xl-min) {

		&__top {
			padding-bottom: 10rem;
		}

		&__primary {
			width: 350px;
			margin-right: 0;
		}

		&__second {
			margin-right: 60px;

			&_elem {
				padding: 0 3rem;
			}
		}

		&__subscribe {
			width: 565px;
			min-width: 565px;
		}
	}

	@media (min-width: $screen-xxl-min) {

		.container {
			width: $container-xxl;
		}
	}
}