.header {
	width: 100%;
	z-index: 900;
	background: #fff;
	position: relative;

	&__top {
		padding-top: 2rem;
		padding-bottom: 1.5rem;
		@include clearfix();
	}

	&__bottom {
		padding-top: 1rem;
		padding-bottom: 2rem;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__link {
		padding: 0;
		float: right;
		z-index: 1005;
		margin: 0 -0.7rem;
		list-style: none;
		position: relative;
		@include flexbox();

		> li {
			margin: 0 0.7rem;
			position: relative;

			> a {
				color: #435260;
				padding: 0.2rem 0;
				font-size: 1.3rem;
				line-height: 1.6rem;
				display: inline-block;
				text-decoration: none;

				span {

				}

				i {
					margin-left: 0.3rem;
				}

				&:hover {
					color: #435260;
					text-decoration: none;
				}

				&.menu_enter {
					color: #fff;
					background: #000;
					padding: 0.2rem 1rem;

					&:hover {
						color: #fff;
						background: #292929;
						text-decoration: none;
					}

					&:active {
						color: #3e4c59;
						background: #000;
					}
				}
			}

			> ul {
				left: 0;
				margin: 0;
				top: 100%;
				color: #000;
				display: none;
				padding: 1.5rem;
				list-style: none;
				background: #fff;
				font-size: 1.4rem;
				line-height: 2rem;
				position: absolute;
				@include box-shadow(0 2px 5px 1px rgba(0, 0, 0, 0.23));

				> li {

					> a {
						width: 100%;
						color: #000;
						position: relative;
						white-space: nowrap;
						display: inline-block;
						padding: 0.5rem 3rem 0.6rem 0;
						@include transition(.3s);

						&:hover {
							opacity: 0.7;
							@include transition(.3s);
						}

						&.active {

							&:before {
								top: 50%;
								right: 0;
								height: 1.2rem;
								content: "\f00c";
								font-size: 1.2rem;
								position: absolute;
								line-height: 1.4rem;
								margin-top: -0.8rem;
								font-family: FontAwesome;
							}
						}
					}
				}

				&.dropdown_settings {
					right: 0;
					left: auto;

					> li {

						> a {
							padding-left: 2.7rem;

							&:before {
								left: 0;
								top: 50%;
								content: '';
								width: 18px;
								height: 18px;
								margin-top: -9px;
								position: absolute;
								display: inline-block;
							}

							b {
								color: #eb001b;
								font-weight: 400;
								margin-left: 0.5rem;
							}
						}

						&:nth-child(1) {

							> a {

								&:before {
									background: url("../img/user_icon__01.svg") 50% no-repeat;
									background-size: cover;
								}
							}
						}

						&:nth-child(2) {

							> a {

								&:before {
									background: url("../img/user_icon__02.svg") 50% no-repeat;
									background-size: cover;
								}
							}
						}

						&:nth-child(3) {

							> a {

								&:before {
									background: url("../img/user_icon__03.png") 50% no-repeat;
									background-size: cover;
								}
							}
						}

						&:nth-child(4) {

							> a {

								&:before {
									background: url("../img/user_icon__04.png") 50% no-repeat;
									background-size: cover;
								}
							}
						}

						&:nth-child(5) {
							margin-top: 2rem;

							> a {

								&:before {
									background: url("../img/user_icon__05.png") 50% no-repeat;
									background-size: cover;
								}
							}
						}
					}
				}

				&.dropdown_lng {
					left: -35px;
				}
			}

			&:hover {

				ul {
					display: block;
				}
			}
		}
	}

	&__logo {
		width: 227px;
		display: block;
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		display: inline-block;
		margin-top: 1rem;
		padding: 0.9rem 0.5rem 0.7rem 0.5rem;

		span {
			width: 100%;
			height: 4px;
			background: #000;
			margin-bottom: 5px;
			display: inline-block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__content {
		top: 0;
		right: 0;
		width: 260px;
		height: 100vh;
		z-index: 1010;
		display: block;
		position: fixed;
		background: #fff;
		padding: 5rem 3rem 3rem 3rem;
		@include transition(.3s);

		&_close {
			top: 0;
			right: 100%;
			width: 40px;
			height: 40px;
			cursor: pointer;
			background: #fff;
			position: absolute;
			display: inline-block;


			&:after,
			&:before {
				top: 50%;
				left: 50%;
				z-index: 10;
				content: '';
				width: 26px;
				height: 2px;
				background: #000;
				position: absolute;
				display: inline-block;
				margin: -1px 0 0 -13px;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}
	}

	&__layout {
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		height: 100vh;
		z-index: 1000;
		position: fixed;
		visibility: hidden;
		background: rgba(0,0,0,1);
		@include transition(0.3s);
	}

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 0 3rem 0;

		> li {

			> a {
				color: #000;
				width: 100%;
				font-weight: 600;
				padding: 0.5rem 0;
				font-size: 1.4rem;
				line-height: 2rem;
				display: inline-block;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}
	}

	&__search {
		position: relative;

		input[type='text'] {
			margin: 0;
			width: 100%;
			border: none;
			outline: none;
			height: 3.8rem;
			color: #435260;
			font-weight: 400;
			overflow: hidden;
			text-align: left;
			font-size: 1.6rem;
			line-height: 2rem;
			position: relative;
			display: inline-block;
			text-decoration: none;
			background: transparent;
			border-bottom: 2px solid #000;
			padding: 0.8rem 3.2rem 0.8rem 0;
			@include placeholder(#435260);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				@include placeholder(transparent);
			}
		}

		.btn_search {
			top: 0;
			right: 0;
			color: #000;
			border: none;
			outline: none;
			width: 3.2rem;
			height: 3.8rem;
			cursor: pointer;
			font-size: 0;
			line-height: 0;
			position: absolute;
			display: inline-block;
			background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
			@include transition(0.3s);

			&:hover {
				opacity: 0.7;
				@include transition(0.3s);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__top {
			padding-top: 3.2rem;
			padding-bottom: 2rem;
		}

		&__bottom {
			padding-bottom: 5rem;
		}

		&__logo {
			width: 227px;
			min-width: 227px;
		}

		&__toggle {
			display: none;
		}

		&__content {
			width: auto;
			height: auto;
			z-index: 900;
			position: relative;
			padding: 1.5rem 0 0 2rem;
			@include flexbox();
			@include justify-content(space-between);
			@include flex-grow(1);

			&_close {
				display: none;
			}
		}

		&__nav {
			margin: 0;
			padding: 0;
			@include flexbox();

			> li {
				margin: 0 1rem;

				> a {
					padding: 0.8rem 0;
					border-bottom: 2px solid transparent;

					&:hover {
						border-bottom-color: $color-red;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			> li {
				margin: 0 1.9rem;
			}
		}

		&__search {
			width: 285px;
		}
	}

	@media (min-width: $screen-xxl-min) {

		.container {
			width: $container-xxl;
		}

		&__content {
			padding-left: 5rem;
		}
	}
}




