.product {
	margin-bottom: 3.7rem;

	h1 {
		margin-bottom: 0.3rem;
	}

	h3 {
		color: #000;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	&__author {
		color: #435260;
		font-size: 2.2rem;
		line-height: 2.8rem;
		margin-bottom: 1rem;
	}

	&__size {
		color: #929ca6;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 0.7rem;
	}

	&__type {
		color: #929ca6;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 3.7rem;
	}

	&__purchase {
		max-width: 385px;
		margin-bottom: 4rem;
		padding-top: 1.8rem;
		border-top: 3px solid #202222;
		@include flexbox();
		@include justify-content(space-between);

		.product_price {
			color: #435260;
			padding: 0.6rem 0;
			font-size: 1.8rem;
			line-height: 2rem;
			font-style: italic;
		}

		.product_button {

		}
	}

	&__info {
		margin-bottom: 3rem;
	}

	&__description {
		color: #000;
		font-size: 1.6rem;
		line-height: 2.3rem;
	}

	&__gallery {
		max-width: 520px;

		&_slider {
			margin-bottom: 2rem;
		}

		&_thumbs {
			padding: 0;
			list-style: none;
			margin: 0 -0.8rem;
			@include flexbox();

			> li {
				width: 33.33%;
				padding: 0 0.8rem;

				> a {
					display: block;
					position: relative;
					@include transition(.3s);

					&:before {
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						content: '';
						display: block;
						visibility: hidden;
						position: absolute;
						border: 3px solid #000;
					}
				}

				&.active {

					> a {
						@include transition(.3s);

						&:before {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}

		.product_image {
			display: block;
			position: relative;

			> span {
				top: 10px;
				right: 10px;
				width: 30px;
				height: 30px;
				position: absolute;
				display: inline-block;
				@include transition(0.3s);

				&:hover {
					opacity: 0.7;
					@include transition(0.3s);
				}

				&:after,
				&:before {
					left: 0;
					content: '';
					width: 11px;
					height: 11px;
					position: absolute;
					display: inline-block;
				}

				&:after {
					top: 0;
					border-top: 2px solid #171616;
					border-left: 2px solid #171616;
				}

				&:before {
					bottom: 0;
					border-left: 2px solid #171616;
					border-bottom: 2px solid #171616;
				}

				> span {
					width: 30px;
					height: 30px;
					color: #0b0b0b;
					padding: 5px 0;
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					position: relative;
					display: inline-block;

					> i {
						top: 50%;
						left: 50%;
						width: 18px;
						height: 16px;
						margin: -8px 0 0 -9px;
						position: absolute;
						display: inline-block;
						background: url("../img/icon__zoom.svg") 50% 50% no-repeat;
						background-size: cover;
					}

					&:after,
					&:before {
						right: 0;
						content: '';
						width: 11px;
						height: 11px;
						position: absolute;
						display: inline-block;
					}

					&:after {
						top: 0;
						border-top: 2px solid #171616;
						border-right: 2px solid #171616;
					}

					&:before {
						bottom: 0;
						border-right: 2px solid #171616;
						border-bottom: 2px solid #171616;
					}
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__info {
			width: 340px;
			margin-bottom: 0;
			@include flexbox();
			@include flex-direction(column);
		}

		&__purchase {
			@include flex-grow(1);
		}

		&__gallery {
			width: 340px;
		}

		&__purchase {

		}
	}

	@media (min-width: $screen-lg-min) {

		&__info {
			width: 420px;
		}

		&__gallery {
			width: 485px;
		}

		&__description {
			padding-bottom: 130px;
		}
	}
}

.heading {
	color: #000;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 3rem;
	padding-bottom: 1.4rem;
	border-bottom: 3px solid #202222;
}

.liked {
	cursor: pointer;
	font-size: 0;
	line-height: 0;
	width: 3.8rem;
	height: 3.8rem;
	font-weight: 400;
	display: inline-block;
	@include border-radius(50%);

	input {
		display: none;
	}

	span {
		color: #000;
		width: 3.8rem;
		height: 3.8rem;
		background: #fff;
		font-size: 1.6rem;
		padding: 1.1rem 0;
		position: relative;
		text-align: center;
		line-height: 1.6rem;
		display: inline-block;
		@include border-radius(50%);

		.fa-heart {
			display: none;
		}

		.fa-heart-o {

		}

		&:hover {
			color: #fff;
			background: #000;
		}
	}

	input:checked + span {

		.fa-heart {
			display: inline-block;
		}

		.fa-heart-o {
			display: none;
		}
	}
}

.author {
	position: relative;
	margin-bottom: 7rem;

	.author_photo {
		width: 184px;
		margin-bottom: 3rem;
	}

	.author_info {
		color: #435260;
		font-size: 1.6rem;
		line-height: 2.4rem;

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 2rem 0;

			li {

			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-left: 240px;

		.author_photo {
			left: 0;
			top: 0.5rem;
			margin-bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 11rem;
	}
}

.other  {
	font-size: 0;
	line-height: 0;
	max-width: 100%;
	overflow: hidden;

	.other_row {
		margin: 0 -1rem;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	.other_item {
		padding: 0 1rem;
		margin-bottom: 4rem;
		display: inline-block;

		a {
			display: inline-block;
			@include transition(.3s);

			&:hover {
				opacity: 0.7;
				@include transition(.3s);
			}
		}
	}

	.other_image {
		margin-bottom: 1.5rem;

		.img-fluid {
			display: inline-block;
		}
	}

	a {

		span {
			color: #202222;
			max-width: 150px;
			font-size: 1.4rem;
			line-height: 1.8rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {

		.other_row {
			@include flex-wrap(nowrap);
		}

		.other_item {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		.other_row {
			margin: 0 -2rem;
		}

		.other_item {
			padding: 0 2rem;
		}
	}

	@media (min-width: $screen-lg-min) {

		.other_row {
			margin: 0 -2.5rem;
		}

		.other_item {
			padding: 0 2.5rem;
		}
	}
}

.about {
	margin-bottom: 5rem;

	&__nav {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 3rem 0;

		> li {
			margin-right: 2rem;
			display: inline-block;

			> a {
				color: #000;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 1.8rem;
				padding-bottom: 0.2rem;
				border-bottom: 2px solid transparent;
			}

			&.active {

				> a {
					border-bottom-color: #000;
				}
			}
		}
	}

	&__content {

	}

	&__info {

		&_photo {
			margin-bottom: 2rem;
		}

		&_text {

		}
	}

	@media (min-width: $screen-sm-min) {

		&__info {
			@include flexbox();

			&_photo {
				width: 185px;
				padding-top: 0.6rem;
				min-width: 185px;
				margin-bottom: 0;
			}

			&_text {
				padding-left: 3rem;
				@include flex-grow(1);
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__info {

			&_text {
				padding-left: 5.2rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 9rem;
		@include flexbox();

		&__nav {
			width: 200px;
			min-width: 200px;
			margin-bottom: 0;

			> li {
				display: block;
				margin-bottom: 2.6rem;

				> a {
					padding-left: 1rem;
					padding-bottom: 0;
					border-bottom: none;
					border-left: 3px solid transparent;
				}

				&.active {

					> a {
						border-left-color: #000;
					}
				}
			}
		}

		&__content {
			@include flex-grow(1);
		}
	}

}

.main_heading {
	margin-bottom: 4rem;

	h1 {
		margin-bottom: 1rem;
	}

	.main_view {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -0.6rem;
		@include flexbox();

		> li {
			padding: 0 0.6rem;
			font-size: 1.4rem;
			line-height: 1.8rem;
			display: inline-block;

			&:first-child {
				padding-right: 0.8rem;
			}

			span {
				color: #020202;
				font-weight: 600;
				border-bottom: 1px solid transparent;
			}

			a {
				color: #020202;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&.active {
					border-bottom-color: #eb001b;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();
		@include justify-content(space-between);

		h1 {
			margin-bottom: 0;
		}

		.main_view {
			padding-top: 2.5rem;
		}
	}

}

.author_goods {

	.author_goods_block {
		display: none;

		&.active {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 8rem;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 11rem;
	}
}

.gallery {
	margin: 0 auto 5rem auto;
	max-width: 360px;

	.gallery_elem {
		height: 320px;
		position: relative;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: auto 100%;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			border-top: 22px solid #fff;
			border-bottom: 22px solid #fff;
		}
	}

	.gallery_content {
		color: #fff;
		left: 1rem;
		right: 1rem;
		z-index: 10;
		bottom: 2.8rem;
		position: absolute;
		text-align: center;
	}

	.gallery_name {
		font-weight: 600;
		font-size: 2.6rem;
		line-height: 3rem;
	}

	.gallery_year {
		font-size: 2rem;
		line-height: 2.4rem;
	}

	.gallery_params {
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
	}

	.gallery_action {
		margin: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		padding: 2.4rem 0 0 0;
		@include flexbox();
		@include justify-content(center);

		> li {
			padding: 0 0.5rem;
			display: inline-block;

			a {
				color: #000;
				width: 3.8rem;
				height: 3.8rem;
				background: #fff;
				font-size: 1.6rem;
				padding: 1.1rem 0;
				position: relative;
				text-align: center;
				line-height: 1.6rem;
				display: inline-block;
				@include border-radius(50%);

				&:hover {
					color: #fff;
					background: #000;
				}
			}
		}
	}

	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		opacity: 0.6;
		@include transition(0.3s);

		.gallery_content {
			opacity: 0;
			visibility: hidden;
			@include transition(0.3s);
		}

		&.swiper-slide-active {
			opacity: 1;
			@include transition(0.3s);

			.gallery_elem {

				&:before {
					display: none;
				}
			}

			.gallery_content {
				opacity: 1;
				visibility: visible;
				@include transition(0.3s);
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 41px;
		display: none;
		outline: none;
		opacity: 0.6;
		margin-top: -20px;
		background: url("../img/slider_nav_icon.svg") 50% 50% no-repeat;
		background-size: cover;
	}

	.swiper-button-prev {
		left: 15px;
		@include rotate(180deg);
	}

	.swiper-button-next {
		right: 15px;
	}

	&.img_cover {

		.gallery_elem {
			background-size: cover;
		}

		.swiper-button-prev {
			left: -60px;
			@include rotate(180deg);
		}

		.swiper-button-next {
			right: -60px;
		}
	}

	@media (min-width: $screen-sm-min) {

		.swiper-button-prev,
		.swiper-button-next {
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		max-width: inherit;
		height: auto;


		.gallery_elem {
			height: 448px;
		}

		&.img_cover {
			width: 530px;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;
		max-width: inherit;
		height: auto;


		.gallery_elem {
			height: 575px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			width: 88px;
			height: 73px;
			margin-top: -37px;

		}

		.swiper-button-prev {
			left: 20px;
			@include rotate(180deg);
		}

		.swiper-button-next {
			right: 20px;
		}

		&.img_cover {
			width: 644px;

			.swiper-button-prev {
				left: -150px;
			}

			.swiper-button-next {
				right: -150px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&.img_cover {
			width: 644px;

			.swiper-button-prev {
				left: -170px;
			}

			.swiper-button-next {
				right: -170px;
			}
		}
	}
}


.cat {

	&.open {

		.cat__filter {
			display: block;
		}

		.cat__filter_layout {
			display: block;
		}
	}

	&__filter {
		top: 0;
		left: 0;
		padding: 2rem;
		width: 270px;
		z-index: 1200;
		height: 100vh;
		display: none;
		position: fixed;
		overflow: auto;
		background: #fff;

		&_layout {
			top: 0;
			left: 0;
			z-index: 900;
			width: 100%;
			height: 100%;
			position: fixed;
			display: none;
			background: rgba(0,0,0,0.7);
		}
	}

	&__top {
		display: none;
	}

	&__main {

	}


	&__params {
		margin: 0 -1.2rem;
		@include flexbox();
		@include flex-direction(column);

		&_item {
			padding: 0 1.2rem;
			margin-bottom: 2rem;
		}
	}

	&__bar {
		padding-bottom: 1rem;
		margin-bottom: 3.7rem;
		border-bottom: 2px solid #0b0b0b;

		.bar_search {
			display: none;
			width: 275px;
			font-size: 0;
			line-height: 0;
			position: relative;

			input[type='text'] {
				margin: 0;
				width: 100%;
				border: none;
				outline: none;
				height: 2rem;
				color: #435260;
				font-weight: 400;
				overflow: hidden;
				text-align: left;
				font-size: 1.6rem;
				line-height: 2rem;
				position: relative;
				display: inline-block;
				text-decoration: none;
				background: transparent;
				padding: 0 3.2rem 0 0;
				@include placeholder(#435260);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}

			button {
				top: 0;
				right: 0;
				color: #000;
				border: none;
				outline: none;
				height: 2rem;
				width: 3rem;
				cursor: pointer;
				font-size: 0;
				position: absolute;
				line-height: 0;
				display: inline-block;
				background: transparent url("../img/icon__search.svg") 50% 50% no-repeat;
				@include transition(0.3s);

				&:hover {
					opacity: 0.7;
					@include transition(0.3s);
				}
			}
		}
	}

	&__view {
		margin: 0;
		padding: 0;
		font-size: 1.4rem;
		line-height: 2rem;
		list-style: none;
		@include flexbox();

		> li {
			padding: 0 1.3rem;
			text-transform: uppercase;

			&:last-child {
				padding-left: 1.8rem;
			}
		}

		&_elem {
			cursor: pointer;
			position: relative;
			padding-right: 2.1rem;
			display: inline-block;

			i {
				top: 50%;
				right: 0;
				width: 12px;
				height: 10px;
				margin-top: -5px;
				position: absolute;
				display: inline-block;
				border-bottom: 2px solid #000;

				&:after,
				&:before {
					left: 0;
					z-index: 5;
					height: 2px;
					content: '';
					background: #000;
					position: absolute;
					display: inline-block;
				}

				&:after {
					top: 0;
					width: 6px;
				}

				&:before {
					top: 4px;
					width: 8px;
				}
			}

			&.invert {

				i {
					border-top: 2px solid #000;
					border-bottom: none;

					&:after {
						top: auto;
						bottom: 0;
					}

					&:before {
						top: 2px;
					}
				}
			}
		}

	}

	.filter_button {
		top: 150px;
		right: 0;
		color: #fff;
		z-index: 1000;
		width: 3.2rem;
		height: 3.2rem;
		background: #000;
		padding: 0.7rem 0;
		font-size: 1.8rem;
		line-height: 1.8rem;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		position: fixed;
	}


	@media (min-width: $screen-md-min) {


		&__top {
			display: block;
		}

		&__params {
			@include flex-direction(row);

			&_item {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();

		&__filter {
			top: auto;
			left: auto;
			padding: 1rem 0 0 0;
			position: static;
			width: 250px;
			height: auto;
			min-width: 250px;
			display: block;

			&_layout {
				display: none;
			}
		}

		&__main {
			@include flex-grow(1);
		}

		&__bar {
			@include flexbox();
			@include justify-content(space-between);

			.bar_search {
				display: block;
			}
		}

		.filter_button {
			display: none;
		}

	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();


		&__filter {
			width: 270px;
			min-width: 270px;
		}
	}
}

.filter {
	width: 218px;
	height: auto;

	&__box {
		margin-bottom: 4rem;

		&.open {

			.filter__toggle {
				color: #151515;

				.toggle_hide {
					display: inline;
				}

				.toggle_show {
					display: none;
				}

				i {
					@include rotate(180deg);
				}
			}

			.filter_list {

				> li {
					display: block;
				}
			}
		}
	}

	&__title {
		color: #0f1010;
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 1.7rem;
		margin-bottom: 2.5rem;
		text-transform: uppercase;
	}

	&__slider {
		margin-bottom: 2.5rem;

		&:last-child {
			margin-bottom: 0;
		}

		&_legend {
			font-size: 1.4rem;
			line-height: 1.8rem;
			margin-bottom: 1rem;
			@include flexbox();
			@include justify-content(space-between);

			strong {
				color: #202222;
				font-weight: 600;
				font-size: 1.3rem;
				display: inline-block;
			}

			i {
				color: #929ca6;
				font-size: 1.4rem;
				display: inline-block;
			}
		}


		.irs {
			height: 10px;
		}

		.irs-line {
			top: 3px;
			height: 4px;
			border: none;
			background: #929ca6;
			@include border-radius(0);
		}

		.irs-bar {
			top: 3px;
			height: 4px;
			border: none;
			background: #000000;
		}

		.irs-slider {
			top: 0;
			width: 2px;
			height: 10px;
			border: none;
			background: #000000;
			@include border-radius(0);
			@include box-shadow(none);
		}
	}

	&__toggle {
		color: #82878c;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		padding-top: 1rem;

		.toggle_hide {
			display: none;
		}

		.toggle_show {
			display: inline;
		}

		i {
			margin-left: 5px;
		}
	}

	&_list {

		> li {
			display: none;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__box {
			margin-bottom: 6rem;
		}
	}
}


.view_box {
	@include flexbox();

	.view_box_label {
		margin-right: 0.5rem;
		@include flex-flow(1);
	}

	.view_box_select {
		display: inline-block;
	}

	.form_select {
		width: auto;
	}
}

.screen {
	font-size: 0;
	line-height: 0;
	@include flexbox();
	@include justify-content(space-around);

	input {
		display: none;
	}

	label {
		display: inline-block;
	}

	span {
		cursor: pointer;
		display: inline-block;
		border: 2px solid #929ca6;
	}

	.screen_album {
		width: 36px;
		height: 26px;
	}

	.screen_portrait {
		width: 26px;
		height: 36px;
		margin-top: -5px;
	}

	.screen_square {
		width: 26px;
		height: 26px;
	}

	input:checked + span {
		border-color: #000;
	}
}

.filter_colors {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		margin: 0 3px 13px 3px;
	}

	label {
		cursor: pointer;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 47px;
			display: inline-block;
			border: 2px solid transparent;

			.img-fluid {
				display: inline-block;
			}
		}

		input:checked + span {
			border-color: #000;
		}
	}
}

.filter_params {
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	line-height: 1.8rem;
	list-style: none;

	> li {
		margin-bottom: 1.4rem;
	}

	label {
		color: #151515;
		cursor: pointer;
		font-weight: 600;

		display: inline-block;

		input {
			display: none;
		}

		span {
			width: auto;
			padding-right: 1.5rem;
			position: relative;
			display: inline-block;

			&:after,
			&:before {
				top: 50%;
				right: 0;
				z-index: 10;
				width: 10px;
				height: 1px;
				content: '';
				display: none;
				position: absolute;
				background: #151515;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}
		}

		&:hover {
			color: #435260;

			span {
				&:after,
				&:before {
					background: #435260;
				}
			}
		}

		input:checked + span  {

			&:after,
			&:before {
				display: block;
			}
		}
	}
}

.goods_row {
	@include clearfix();

	.goods_elem {
		margin-bottom: 5rem;
	}

	@media (min-width: $screen-md-min) {
		margin: 0 -1.5rem;
		@include flexbox();
		@include flex-wrap(wrap);

		.goods_elem {
			padding: 0 1.5rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		.goods_elem {
			margin-bottom: 9rem;
		}
	}


	@media (min-width: $screen-xl-min) {
		margin: 0 -4.5rem;

		.goods_elem {
			padding: 0 4.5rem;
		}
	}
}

.goods {
	float: left;
	z-index: 5;
	background: #fff;
	position: relative;
	border: 2px solid transparent;

	&:hover {
		z-index: 20;
		border-color: #000;
	}

	.goods_image {
		font-size: 0;
		line-height: 0;
		display: block;
		position: relative;
		margin-bottom: 1rem;

		img {
			height: auto;
			max-width: 100%;
			display: inline-block;
		}
	}

	.goods_links {
		margin: 0;
		padding: 0;
		top: 1.5rem;
		right: 2rem;
		list-style: none;
		position: absolute;

		> li {
			text-align: center;
			margin-bottom: 0.5rem;
		}
	}

	.goods_share {
		color: #000;
		width: 3rem;
		height: 3rem;
		background: #fff;
		font-size: 1.2rem;
		padding: 0.9rem 0;
		position: relative;
		text-align: center;
		line-height: 1.2rem;
		display: inline-block;
		@include border-radius(50%);

		&:hover {
			color: #fff;
			background: #000;
		}
	}

	.goods_content {
		background: #fff;
		position: relative;
		padding: 1rem 2rem 0 2rem;
	}

	.goods_author {
		color: #131313;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 0.4rem;
	}

	.goods_name {
		color: #000;
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 0.4rem;
	}

	.goods_size {
		color: #73797e;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}

	.goods_purchase {
		background: #fff;
		padding: 0.6rem 0 3rem 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	.goods_price {
		color: #435260;
		font-size: 1.8rem;
		line-height: 2rem;
		padding: 0.6rem 0;
	}

	.goods_button {

	}

	@media (min-width: $screen-lg-min) {

		&:hover {
			border-color: #000;
			border-bottom-color: transparent;

			.goods_purchase {
				opacity: 1;
				visibility: visible;
			}

			.goods_links {
				opacity: 1;
				visibility: visible;
			}
		}

		.goods_links {
			opacity: 0;
			visibility: hidden;
		}

		.goods_purchase {
			left: -2px;
			right: -2px;
			top: 100%;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			border: 2px solid #000;
			border-top: none;
			padding: 0.6rem 2rem 3rem 2rem;
		}
	}
}

.pagination {
	font-size: 0;
	line-height: 0;
	padding-bottom: 2rem;
	border-bottom: 3px solid #0b0b0b;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(center);

		li {
			padding: 0.5rem 0.3rem;
			display: inline-block;

			a {
				color: #929ca6;
				font-size: 1.6rem;
				line-height: 2rem;
				padding: 0.2rem 0.3rem;
				display: inline-block;
				text-decoration: none;
				border-bottom: 2px solid transparent;
				@include transition(.3s);

				&:hover {
					border-bottom-color: #929ca6;
					@include transition(.3s);
				}
			}

			span {
				color: #0b0b0b;
				font-size: 1.6rem;
				line-height: 2rem;
				padding: 0.2rem 0.3rem;
				display: inline-block;
				text-decoration: none;
				border-bottom: 2px solid #0b0b0b;
			}
		}
	}
}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}