
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 3rem 0;

	> li {
		font-size: 1.5rem;
		line-height: 1.9rem;
		display: inline-block;

		&:after {
			content: '-';
			padding: 0 5px;
		}

		> a {
			color: #000;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 4.7rem;
	}
}