
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	background: #000;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0.6rem 3rem;
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #292929;
	}

	&:active {
		color: #435260;
		background: #000;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_white {
	color: #000;
	background: #dfe3e7;

	&:hover {
		color: #000;
		background: #fff;
	}

	&:active {
		color: #000;
		background: #929ca6;
	}


	&:disabled,
	&.disabled {
		color: #929ca6;
		background: #dfe3e7;
		cursor: not-allowed;
	}
}

.btn_md {
	padding: 1.4rem 3rem;
}