.form_control {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	height: 4rem;
	color: #020202;
	text-align: left;
	font-weight: 700;
	overflow: hidden;
	font-size: 2rem;
	line-height: 2rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: transparent;
	padding: 0.3rem 0 1rem 0;
	border-bottom: 2px solid #000;
	@include placeholder(#020202);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.form_control_white {
	color: #fff;
	border-bottom-color: #fff;
	@include placeholder(#fff);

	&:focus {
		@include placeholder(transparent);
	}
}

.form_control_password {
	@include placeholder(#383d42);

	&:focus {
		@include placeholder(transparent);
	}
}

.form_label {
	color: #929ca6;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.6rem;
	display: inline-block;
}

.form_label_white {
	color: #dfe3e7;
}

.form_radio {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	font-weight: 600;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #fff;
		cursor: pointer;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		display: inline-block;
		border: 1px solid #fff;
		padding: 0.6rem 2rem 0.9rem 2rem;
		vertical-align: middle;
	}

	input:checked + span {
		color: #435260;
		background: #fff;
	}
}

.radio_group {
	@include flexbox();

	.form_radio {

		span {
			width: 146px;
		}
	}
}

.form_group {
	margin-bottom: 2rem;
}

.btn_group {
	text-align: right;
	padding-top: 3rem;
}

.select_box {
	width: 100%;
	z-index: 50;
	position: relative;

	&.open {
		z-index: 100;

		.select_box_value {

			i {
				@include rotate(180deg);
			}
		}

		.select_box_dropdown {
			opacity: 1;
			visibility: visible;
		}
	}

	.select_box_value {
		color: #50565b;
		cursor: pointer;
		font-size: 1.6rem;
		line-height: 2rem;
		position: relative;
		padding: 0.5rem 2rem 0.5rem 0;
		border-bottom: 2px solid #000;

		span {
			max-width: 100%;
			overflow: hidden;
			white-space: nowrap;
			display: inline-block;
		}

		&:before {
			top: 50%;
			right: 1rem;
			width: 1.2rem;
			height: 0.8rem;
			font-size: 0;
			content: '';
			line-height: 0;
			margin-top: -0.4rem;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__select_arrow.svg") 50% 50% no-repeat;
			background-size: cover;
		}

		&:hover {
			color: #000;
		}
	}

	.select_box_dropdown {
		left: 0;
		top: 100%;
		z-index: 600;
		opacity: 0;
		min-width: 100%;
		visibility: hidden;
		background: #fff;
		margin-top: 4px;
		position: absolute;
		padding: 1.2rem 1rem 1.5rem 1.5rem;
		@include box-shadow(0 2px 5px 1px rgba(0, 0, 0, 0.23));

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1.4rem;
			line-height: 2rem;

			> li {

			}
		}

		label {
			font-weight: 400;

			input {
				display: none;
			}

			span {
				width: 100%;
				color: #000;
				cursor: pointer;
				position: relative;
				white-space: nowrap;
				display: inline-block;
				padding: 0.5rem 1.5rem 0.5rem 0;

				&:before {
					right: 0;
					top: 0.8rem;
					opacity: 0;
					content: "\f00c";
					visibility: hidden;
					position: absolute;
					display: inline-block;
					font-family: FontAwesome;
				}

				&:hover {
					color: #435260;
				}
			}

			input:checked + span:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.form_select {
	margin: 0;
	width: 100%;
	height: 2rem;
	border: none;
	outline: none;
	color: #000;
	cursor: pointer;
	overflow: hidden;
	font-weight: 600;
	position: relative;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	text-decoration: none;
	padding: 0 1.9rem 0 0.5rem;
	background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';

	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}

.form_wrap {
	position: relative;

	&:before {
		right: 0;
		z-index: 10;
		top: 0.5rem;
		width: 2.8rem;
		height: 1.8rem;
		content: '';
		padding: 0 0.5rem;
		font-size: 1.8rem;
		line-height: 1.8rem;
		position: absolute;
		text-decoration: none;
		display: inline-block;
		font-family: FontAwesome;
	}

	&.form_change {

		&:before {
			right: 0;
			z-index: 10;
			top: 0;
			width: 2.8rem;
			height: 3.4rem;
			content: '';
			opacity: 0.5;
			padding: 0 0.5rem;
			font-size: 1.8rem;
			line-height: 1.8rem;
			position: absolute;
			text-decoration: none;
			display: inline-block;
			font-family: FontAwesome;
			background: url("../img/icon__edit.svg") 50% 50% no-repeat;
			@include transition(.3s);

		}

		&:hover {

			&:before {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	&.form_ok {

		&:before {
			top: 50%;
			width: 2.1rem;
			height: 1.5rem;
			opacity: 0.3;
			margin-top: -1.2rem;
			background: url("../img/icon__check.svg") 50% 50% no-repeat;
			background-size: cover;
		}
	}


	.form_control {
		padding-right: 2rem;
	}

	&.form_pass_view {

		&:before {
			display: none;
		}
	}

	.form_edit_button {
		top: 0;
		right: 0;
		width: 2.6rem;
		height: 3.4rem;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		text-align: center;
		position: absolute;
		display: inline-block;
		opacity: 0.6;
		@include transition(0.3s);

		i {
			top: 50%;
			left: 50%;
			width: 12px;
			height: 16px;
			margin: -8px 0 0 -6px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__edit.svg") 50% 50% no-repeat;
		}

		&:hover {
			opacity: 1;
			@include transition(0.3s);
		}
	}


	.btn_pass_view {
		top: 0;
		right: 0;
		width: 2.6rem;
		height: 3.4rem;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		text-align: center;
		position: absolute;
		display: inline-block;
		opacity: 0.6;
		@include transition(0.3s);

		i {
			top: 50%;
			left: 50%;
			width: 20px;
			height: 11px;
			margin: -6px 0 0 -10px;
			position: absolute;
			display: inline-block;
			background: url("../img/icon__eye.svg") 50% 50% no-repeat;
		}

		&:hover {
			opacity: 1;
			@include transition(0.3s);
		}
	}
}